* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	background-image: url("../images/pink_rice.png");
}

h1, h2 {
	font-family: 'Georgia', Times, 'Times New Roman', serif;
}

h1 {
	font-size: 28px;
	color: #36a59f;
	margin-top: 20px;
	margin-bottom: 20px;
	font-weight: bold;
}

h2 {
	font-size: 24px;
	color: #36a59f;
	margin-top: 20px;
	margin-bottom: 20px;
	font-weight: bold;
}

section {
	padding: 25px;
	margin-top: 30px;
	margin-bottom: 30px;
}

a {
	color: #AFB7BB;
	font-size: 18px;
}

hr {
	margin-bottom: 20px;
}

p:hover {
	background-color: orange;
	font-weight: bold;
}
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -100px; 
}
.container {
	width: 960px;
	margin: 0 auto;
}

#navbar {
	width: 100%;
	height: 103px;
	background: #ffffff;
	padding: 50px 50px 20px 50px;
	border: 1px solid #cccccc;
	margin-right: auto;
	margin-left: auto;
}

#navbar a:hover {
	background-color: #36a59f;
	color: white;
	font-weight: bold;
}

.menu {
	display: inline;
	margin-right: 10px;
	margin-left: 10px
}

#logoname {
	font-family: 'Georgia', Times, 'Times New Roman', serif;
	font-size: 30px;
	font-weight: bold;	
	background-color: #36a59f;
	padding: 20px;
	color: white;
}

#nav-links {
	float: right;
}

#myimage {
	width: 200px;
	float: left;
	margin-right: 10px;
}

#AboutMe {
	width: 650px;
	background-color: #ffffff;
	float: left;
	border: 1px solid #dddddd;
	line-height: 35px;
}

#connect {
	width: 270px;
	background-color: #ffffff;
	float: right;
	border: 1px solid #dddddd;
}

.icon {
	width: 50px;
}

/*other pages styles go here*/

#stickyfooter {
	clear: both;
	padding: 50px;
	background: #606060;
	color: white;
	text-align: center;
	border-top: 10px solid #36a59f;
}

#stickyfooter, .space {
	height: 100px;
}
